{% extends 'base.html.twig' %}

{% block title %}Mon Profil
{% endblock %}

{% block body %}
	<div class="animal-info-container">
		<h1>Fiches Animaux</h1>
		<table class="table">
			<tbody>
				{% for animal in animals %}
					<tr>
						<td>{{ animal.id }}</td>
						<td>{{ animal.nom }}</td>
						<td>{{ animal.type }}</td>
						<td>{{ animal.sexe }}</td>
						<td>{{ animal.race }}</td>
						<td>{{ animal.age }}</td>
						<td>{{ animal.poids }}</td>
						<td>{{ animal.numPuce }}</td>
						<td>{{ animal.sterilisation ? 'Yes' : 'No' }}</td>
						<td>{{ animal.dateChaleurs }}</td>
						<td>{{ animal.medical ? 'Yes' : 'No' }}</td>
						<td>{{ animal.ordonnanceFile }}</td>
						<td>{{ animal.infoSup }}</td>
						<td>{{ animal.vaccins ? 'Yes' : 'No' }}</td>
						<td>{{ animal.vermifuge ? 'Yes' : 'No' }}</td>
						<td>{{ animal.alimentation ? 'Yes' : 'No' }}</td>
						<td>{{ animal.traitement ? 'Yes' : 'No' }}</td>
						<td>
							<a href="{{ path('app_animal_show', {'id': animal.id}) }}">show</a>
							<a href="{{ path('app_animal_edit', {'id': animal.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td>no records found</td>
					</tr>
				{% endfor %}
				{% for animal in animals %}
					<a href="{{asset('documents_directory/' ~ animal.ordonnanceFile )}}" class="doc-file">Voir le fichier</a>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('app_animal_new') }}">Ajouter un animal</a>
	</div>
{% endblock %}
