{% extends 'base.html.twig' %}

{% block title %}PAS DEL ROC - Connexion{% endblock %}

{% block body %}
	<div class="user-container">
		<div class="user-content">
			<h2>Connexion</h2>
			<form class="login-form" action="{{ path('app_login') }}" method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{% if app.user %}
					<div>Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a></div>
				{% endif %}
				<div class="group-input">
					<label for="username">Adresse e-mail</label>
					<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">
				</div>
				<div class="group-input">
					<label for="password">Mot de passe</label>
					<input class="form-control" type="password" id="password" name="_password">
					<small><a class="forgot" href="{{path('app_forgot_password_request')}}">Mot de passe oublié ?</a></small> 
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		
                <button class="submit-btn" type="submit">Se connecter</button>
				<p>Vous n'avez pas de compte ?</p>
				<a class="alternative" href="{{path('app_register')}}">Créer un compte</a>
			
			</form>
		</div>
	</div>
{% endblock %}
