<nav role="navigation" class="menu">
	<a class="lien-nav home" href="{{path('app_homepage')}}"><i class="fa-solid fa-house static"></i><i class="fa-solid fa-house fa-bounce"></i></a>
	<div class="anim-box">
		<p class="anim-link">Formules</p>
		<div class="formules-box">
			<a class="lien-nav" href="{{path('app_formule_chien')}}">Formule Chien <i class="fa-solid fa-paw fa-bounce"></i></a>
			<a class="lien-nav" href="{{path('app_formule_chat')}}">Formule Chat <i class="fa-solid fa-paw fa-bounce"></i></a>
		</div>
	</div>
	<a class="lien-nav space" href="{{path('app_galerie')}}">Galerie <i class="fa-solid fa-paw fa-bounce"></i></a>
	<a class="lien-nav" href="{{path('app_education')}}">Éducation <i class="fa-solid fa-paw fa-bounce"></i></a>
	<a class="lien-nav" href="{{path('app_livre_d_or')}}">Livre d'or <i class="fa-solid fa-paw fa-bounce"></i></a>
	<a class="lien-nav" href="{{path('app_contact')}}">Contact <i class="fa-solid fa-paw fa-bounce"></i></a>
	{% if is_granted('ROLE_ADMIN') %}
		<a class="lien-nav" href="{{path('admin')}}">Administration <i class="fa-solid fa-user fa-bounce"></i></a>
	{# {% elseif is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
		<a class="lien-nav" href="{{path('app_profil', {'id' : app.user.id})}}">Mon Profil <i class="fa-solid fa-user fa-bounce"></i></a>
	{% else %} #}
		{# <a class="lien-nav" href="{{path('app_login')}}">Connexion <i class="fa-solid fa-user fa-bounce"></i></a> #}
	{% endif %}
</nav>

<nav role="navigation" class="menu-burger">
	<div id="menuToggle">
		<input type="checkbox"/>
		<span></span>
		<span></span>
		<span></span>
		<ul id="menu">
			<a href="{{path('app_homepage')}}">Accueil</a>
			<a href="{{path('app_formule_chien')}}">Formule Chien</a>
			<a href="{{path('app_formule_chat')}}">Formule Chat</a>
			<a href="{{path('app_galerie')}}">Galerie</a>
			<a href="{{path('app_education')}}">Éducation</a>
			<a href="{{path('app_livre_d_or')}}">Livre d'or</a>
			<a href="{{path('app_contact')}}">Contact</a>
			{% if app.user %}
				<a href="{{path('app_profil', {'id' : app.user.id})}}">Mon Profil</a>
			{% else %}
				<a href="{{path('app_login')}}">Connexion</a>
			{% endif %}
		</ul>
	</div>
</nav>